/* contacts.css */

.social {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

.social li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.social a {
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #131e27;
  width: 60px;
  transition: 0.5s;
  height: 60px;
  border-radius: 50%;
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
}

.social a:hover {
  transform: translateY(-5px);

}

.telegram:hover {
  background-color: #2ca5e0;
}

.linkedin:hover {
  background-color: #0077b5;
}

.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.facebook:hover {
  background-color: #1877f2;
}

.twitter:hover {
  background-color: #1da1f2;
}

.github:hover {
  background-color: #333333;
}

.contactText {
  text-align: center;
}

.conatctTitle {
  text-align: center;
}

.contact {
  text-align: center;
}

.map-container {
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  /* Adjust width as needed */
  max-width: 1000px;
}

.map::before {
  content: '';
  display: block;
  padding-top: 75%;
  /* Это соотношение сторон 4:3 для ширины 100% */
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
  filter: grayscale(80%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* contacts.css */

.form-container {
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  background: #192938;
  box-shadow: 0 5px 15px rgb(255 241 241 / 30%);
  width: 80%;
  /* Adjust width as needed */
  max-width: 600px;
  /* Optional max-width for better control */
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container .input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #0998a8;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button:hover {
  background: #087f90;
}

.form-container .input:focus {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.map-container iframe:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #333;
  transition: all 0.3s ease;
}

.form-input:focus {
  border-color: #0998a8;
  box-shadow: 0 0 10px rgba(9, 152, 168, 0.5);
}

textarea.form-input {
  height: 150px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #333;
}

textarea {
  height: 150px;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0d171f;
  transform: translateY(-3px);
}

[type="submit"] {
  padding: 10px 20px;
  background-color: #0998a8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

[type="submit"]:hover {
  background-color: #0d171f;
}

.ConatactTextWithME {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .ConatactTextWithME {
    font-size: 1rem;
    max-width: 500px;
  }
}

.review-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Добавляем тень */
}



.review-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.review-author {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rating i {
  margin: 0 2px;
  font-size: 20px;
  color: #f39c12;
  /* Цвет звезд */
}



/* Добавляем стили для слайдера */
.slider-container {
  width: 80%;
  /* Ширина контейнера со слайдером */
  margin: 0 auto;
  /* Центрирование слайдера */
}

.slick-slider {
  position: relative;
  padding: 20px;

}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* Высота слайда */
  outline: none;
}

/* Стили для точек */
.slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
  /* Отступ между точками */
}

.slick-dots button {
  width: 12px;
  /* Ширина точки */
  height: 12px;
  /* Высота точки */
  border: none;
  border-radius: 50%;
  background-color: #f39c12;
  /* Цвет точки */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots button:hover {
  background-color: #e67e22;
  /* Цвет точки при наведении */
}

.slick-dots .slick-active button {
  background-color: #f1c40f;
  /* Цвет активной точки */
}

.reviews-slider-container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}

.review {
  background-color: #131e27;
  border-radius: 20px;
  padding: 20px;
  max-width: 70%;
  margin: 20px -30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.review-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-content {
  text-align: center;
}

.review-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.review-author {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.slick-prev,
.slick-next {
  margin: 0 10%;
  font-size: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  /* color: white; */
  content: '❮';
  opacity: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;

}

 